/*
filename: [Assignment]
author: [Adam Jarzebak]
created: [12/03/17]
last modified: [15/03/17]
description: [css file that refers up to all pages for assignment 1]
*/


/*Styling for main parts*/

html {
    overflow-y: scroll;
}
body {

    background: #d70f65;
    /*background: #ECE9E6; !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to left, #ECE9E6 , #FFFFFF); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

.main_section{
    margin: 50px;
}

h1 {
    text-align: center;
    color: #375580;
    font-size: 2em;
    font-weight: bold;
}

h2{
    text-align: center;
    margin-top: 35px;
}

dt{
    font-size: 140%;
    margin-bottom: 5px;
}

dd{
    font-size: 110%;
    margin-bottom: 15px;
}
/*End of styling for main parts*/


/* Style the links inside the navigation bar */
.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav table{
    width: 100%;
}

header {width: 100%}

.topnav a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 25px;
    height: 50px;
    padding: 14px 0 0 0;
    width: 100%;
    display: inline-block;
    vertical-align:middle;
    text-align: center;

}

.topnav td:hover {
    background-color: #31ddae;
}

.topnav td {
    vertical-align: middle;
    text-align: center;
    width: 20%;
    height: 40px;
}

#current{
    background-color: #1e7f7d;
}

/*End of navigation style*/



/*Custom settings, such as classes or ID's*/

#image_div{
    text-align: center;
}

hr {
    border-top: 2px solid black;
    width: 85%;
}

/*End of custom settings */


/*Form styles start here*/

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    /*margin: 8px 0;*/
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    /*margin: 8px 0;*/
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;

}

input[type=submit] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    /*margin: 8px 0;*/
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;

}

input[type=radio] {
    margin-right: 100px;
    border: 0px;
    width: 17px;
    height: 17px;
}

input[type=checkbox] {
    /*margin-right: 100px;*/
    border: 0px;
    width: 17px;
    height: 17px;
}

input[type=reset] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    /*margin: 8px 0;*/
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset]:hover {
    background-color: #45a049;
}

.div_form {
    width: 50%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 50px;
    left: 50%;
    transform: translate3d(-50%,0, 0);
    position: absolute;
}

#fieldset_label {
    font-size: 170%;
    color: #00627f;
    text-align: center}


.align_center {
    text-align: center;
}

/*Form styles ends here*/


/*Footer styling*/


footer table{

    width: 100%;
    border-collapse: collapse;
    border: none;

}

footer {
    position: absolute;
    margin-top: 25px;
    right: 0;
    left: 0;
    padding-top: 1em;
    background-color: #efefef;
    text-align: center;
}

.footer_td {
    text-align: center;
    width: 50%;
    /*valign: top;*/
}

/*End of footer styling*/


/*Timetable styling*/

.timtable{text-align: center;}

.timtable table {
    display: inline-table;
    border-spacing: 0;
    border-collapse: collapse;
}

.timtable td
{
    text-align: center;
    height: 60px;
    border: 1px solid #dd99af;
    border-collapse: collapse;
}

.timtable th
{
    border: 1px solid #dd99af;
    height: 60px;
    text-align: left;
    min-width: 45px;
    font-size: 10px;
    background: #1d6166;
    color: white;
    border-collapse: collapse;
}

#am {
    text-align: center;
    height: 10px;
    background: #ffd50a;
    color: #000780;
}

#pm{
    text-align: center;
    height: 10px;
    background: #ff8123;
    color: #000780;
}

/*Optional- This allows to rotate the content about 45 degress*/
.t {
    transform: rotate(-45deg);
}
/*End*/

.timtable td:hover
{
    cursor: pointer;
    background: #666;
    color: white;
}

.class {
    background-color: #4CAF50;
}

#hover-content {
    display:none;
    color: white;
    font-size: 10px;
    margin-right: 50px;
}
#parent:hover #hover-content {
    display:block;
}

.display_child {
    background-color: #7a7874;
    border: dotted;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > section {
    width: 45%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

.divBox
{
    width: 100%;
    height: 100%;
    display: table;
}

.divBox a
{
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    display: block;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
}

.divBox a:hover{
    text-decoration: underline overline;
    color: yellowgreen;
}

/*End of the timetable styling*/
