/*
filename: [Assignment]
author: [Adam Jarzebak]
created: [12/03/17]
last modified: [12/03/17]
description: [css file that refers up to enquire page for assignment 1]
*/

/*This section is devoted for general styling*/

body {
    background-color: white;
}

section{
    margin: 50px;
}

h1 {
    text-align: center;
    color: #375580;
    font-size: 2em;
    font-weight: bold;
}

h2{
    text-align: center;
    margin-top: 35px;
}

#image_div{
    text-align: center;
}

